# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
**/.idea/
.idea/workspace.xml
.idea/misc.xml
.idea/Pravna Informatika.iml
.buildpath
.project
.settings
atlassian-ide-plugin.xml
*.sublime-*

sr.lexicon.guesser
